---
import MainLayout from '../layouts/MainLayout.astro'
import { Link } from '../components/UI'
import { Logosm, FeatureComingSoon } from '../components';
import { client } from '../pexels/client';
import { PHOTOS_PER_PAGE, VIDEOS_PER_PAGE } from '../constants';
import { NoPinsFound, Pins, SideBar, VideoPins } from '../components';
import { $user } from '../store/userStore';
import Avatar from '../components/Avatar.astro';

const query: string  = Astro?.url?.searchParams.get('query')!;
const type: string | null = Astro.url.searchParams.get('type');

let results =null
if(type === "video"){
    results = await client.videos.search({ query, per_page: VIDEOS_PER_PAGE });
}
else {
    results = await client.photos.search({ query, per_page: PHOTOS_PER_PAGE })
}

let sibeBarToggle: boolean = false;
---
<MainLayout SITE_PAGE="Search">
	<div class="flex bg-gray-50 md:flex-row flex-col h-screen transaction-height duration-75 ease-out">
		<div class="hidden md:flex h-screen flex-initial">
			<SideBar user={$user?.value && $user?.value} activeLink={'search'} />
		</div>
		<div class="flex md:hidden flex-row">
			<div class="p-2 w-full flex flex-row justify-between items-center shadow-md">
				<i class="fa fa-bars icon cursor-pointer" aria-hidden="true" id="Menu" ></i>
				<Link to="/">
					<Logosm />
				</Link>
				<Link to={`profile/${$user?.value![0]?._id}`}>
					<Avatar avatar={$user?.value![0]?.name.charAt(0)} />
				</Link>
			</div>
		{
			sibeBarToggle && (
				<div class="fixed w-4/3 bg-white h-screen overflow-y-auto shadow-md z-10 animate-slide-in">
					<div class="absolute w-full flex justify-end items-center p-2">
						<i class="fa fa-times-circle cursor-pointer" aria-hidden="true"></i>
					</div>
					<SideBar user={$user?.value && $user?.value} />
				</div>
			)
		}
		</div>
		<div class="pb-2 flex-1 h-screen overflow-y-scroll">
			<Link to=`profile/${$user?.value![0]?._id}`></Link>
			{
				type === "photo" ? (results.photos.length > 0 ? (
					<Pins pins={results.photos} loadingText={`Search results for ${query}`} show={true}/>
				) : (
					<NoPinsFound item={`results for ${query}`} />
				))
				:
				(
					<FeatureComingSoon />
					// results.videos.length > 0 ? (
					// 	<VideoPins pins={results} loadingText={`Search results for ${query}`} />
					// ) : (
					// 	<NoPinsFound item={`results for ${query}`} />
					// )
				)
			}
			
		</div>
	</div>
</MainLayout>
<style>
	.icon{
		font-size:25px;
	}
</style>