---
import type { IVideoPin } from '@interfaces/IVideoPin'
import { Link } from './UI'

interface Props {
    pin: IVideoPin
}
const { pin } = Astro.props
const postHovered = true
const saved = false
---
 <div class="m-2">
    <div class="relative cursor-none w-auto rounded-lg overflow-hidden transition-all duration-500 ease-in-out video" id="Video"
    >
        <video class="h-full w-96 md:h-auto md:w-full rounded-lg" autoplay controls={false} muted={true} src={pin.video_files[0].link } 
        />

        {
            postHovered && (
                <div class="hidden absolute top-0 w-full h-full flex flex-col justify-between p-1 pr-2 pt-2 pb-2 z-50 hover:bg-blackOverlay menu" id="menu">
                    <div class="flex items-center justify-between">
                        <div class="flex gap-2">
                            <a id="download" href={pin.video_files[0].link} download="true"
                            class="bg-white w-9 h-9 rounded-full flex items-center justify-center text-dark text-xl opacity-75 hover:opacity-100 hover:shadow-md outline-none">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div>
                            <form action="/">                           
                                <button type="submit" class={`${ saved  ? "bg-red-500" : "bg-green-500"} opacity-70 hover:opacity-100 text-white px-3 py-1 font-bold rounded-full flex items-center justify-center hover:shadow-md outline-none`}>
                                    {
                                        saved ? 'Saved' : 'Save'
                                    }
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="flex justify-between items-start gap-2 w-full">
                        <a href={`/details/${pin?.id}`} target="_blank" class="bg-white flex items-center gap-2 text-black font-bold p-1 pl-4 pr-4 rounded-full opacity-70 hover:opacity-100 hover:shadow-md mb-2">
                            <i class="bi bi-arrow-up-right-circle-fill"></i>
                            {`view deatils...`}
                        </a>
                        <div>
                            <form action="/">                           
                                <button type="submit" class={`${ saved  ? "bg-red-500" : "bg-red-500"} p-1 opacity-70 hover:opacity-100 text-white px-2 py-1 font-bold rounded-full flex items-center justify-center hover:shadow-md outline-none mb-2`}>
                                    <i class="bi bi-trash2-fill"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            )
        }
    </div>
    <Link to={pin?.user?.url} className="flex gap-2 mb-2 items-center" target="_blank">
        <i class="bi bi-person-circle icon"></i> 
        <p class="font-bold capitalize mb-1">
            {pin?.user?.name}
        </p>
    </Link>
 </div>
 <style>
	.icon{
		font-size:18px;
	}
</style>
<script>
const videos = document.querySelectorAll('video') as unknown;
const index = 0

document.querySelectorAll('.video').forEach(photo => {
    const menu = photo.querySelector(".menu");
    photo.addEventListener("mouseover", () => {
        menu?.classList.remove('hidden');
    });

    photo.addEventListener('mouseout', () => {
        menu?.classList.add("hidden");
    });

});

function playSequentiallyLoop(videos: any, index = 0) {
    if (index < videos.length) {
        videos[index].play();
        videos[index].addEventListener('ended', function() {
            const nextIndex = (index + 1) % videos.length;
            playSequentiallyLoop(videos, nextIndex); 
        });
    }
}
playSequentiallyLoop(videos,index)
</script>