---
import ProfileLayout from "../../layouts/Layout.astro";
import Image from "astro/components/Image.astro";
import { client } from "../../pexels/client"
import { Link } from "../../components/UI";
import { getPins } from "../../utils/Pins";
import { Pins } from "../../components";

import { randomize } from '../../utils/randomizer';

const  photoId  = Astro.params.id
const image: any =  await client.photos.show({ id: photoId! });
const pins: any = await getPins();

const rand: any = randomize(pins?.photos)
---
<ProfileLayout SITE_PAGE={image?.alt}>
    <div class="m-2">
        <div class="flex justify-center items-center gap-1 mt-5">
            <div class="relative cursor-none w-auto rounded-lg overflow-hidden transition-all duration-500 ease-in-out Photo md:px-26" id="Photo"
            >
                <div class="mb-3 font-bold text-center w-[280px]">
                    <h1>{image?.alt && image?.alt}</h1>
                </div>
                <Image width={300} height={300} src={image?.src?.original} alt={image?.alt!}/>
                <div class="flex justify-between items-center">
                    <Link to={image.photographer_url} className="flex gap-2 mb-2 mt-2 bg-white items-center text-black font-bold p-1  pr-4 rounded-full opacity-70 hover:opacity-100 hover:shadow-md " target="_blank">
                        <i class="bi bi-person-circle icon"></i> 
                        <p class="font-bold capitalize mb-1">
                            {image?.photographer}
                        </p>
                    </Link>
                    <a href={image?.src?.original} download class=""><i class="bi bi-download text-lg font-bold hover:shadow-md outline-none rounded-full p-2 animate-bounce" aria-hidden="true"></i></a>
                </div>    
            </div>
        </div>
        <div class="w-full flext justify-center items-center text-center mt-10 border-t py-5 md:px-32">
            <h1 class="text-2xl md:text-3xl font-bold">Explore more related pictures</h1>
        </div>
        <div class="lg:px-40 md:mx-20">
            <Pins pins={rand && rand} loadingText="Related Pictures" show={false} target="" />
        </div>
    </div>
    
</ProfileLayout>